@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
    background: grey;
}

.container form {
    width: 700px;
    padding: 20px;
    background: #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col {
    flex: 1 1 250px;
}

.col .title {
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
    text-align: center;
}

.col .Box {
    margin: 15px 0;
}

.col .Box label {
    margin-bottom: 10px;
    display: block;
}

.col .Box input,
.col .Box select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
}

.col .Box input:focus,
.col .Box select:focus {
    border: 1px solid #000;
}

.col .flex {
    display: flex;
    gap: 15px;
}

.col .flex .Box {
    flex: 1 1;
    margin-top: 5px;
}

.container form .submit_btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: green;
    color: #fff;
    margin-top: 5px;
    letter-spacing: 1px;
}

.container form .submit_btn:hover {
    text-decoration: underline;
}