body {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0px;
}

h1 {
  font-size: 40px;
}

.nav {
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  margin: 10px;
  height: 50px;
}

.nav ul {
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  padding-top: 6px;
}

.nav li {
  padding: 10px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: cornflowerblue;
}

h2 {
  text-align: center;
}

img {
  height: 400px;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  height: 300px;
  width: 100%;
}

.container img:hover {
  height: 310px;
  width: 100%;
}

.box {
  height: 400px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.container a {
  text-decoration: none;
}

.box a:hover {
  color: cornflowerblue;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

footer ul {
  list-style: none;
  text-align: left;
}

footer li {
  padding: 7px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  color: dimgray;
  text-decoration: underline;
}